.computer-engineer{
    position: absolute;
    color: rgb(189, 188, 243);
    opacity: 0.5;
    font-size: 19px;
    top: 400px;
    right: 100px;
    letter-spacing: 3px;
}
.navigation{
    margin: 5px;
    display: flex;
    flex-direction: row;
    height: 600px;
    position: absolute;
    top: 0px;
    opacity: 0;
    

    width: 150px;
    justify-content: space-between;
    font-weight: lighter;
    font-size: 50px;
    animation: sliding 1s ease-out forwards;

}
@keyframes sliding{
    0%{
        left: -151px;
    }
    100%{
        left: 0px;
        opacity: 1;
    }
}
.h-content{
    margin: 0px 20px;
    font-size: 20px;
    font-weight: 60;
    color: rgb(235, 233, 252);
    cursor: pointer;
}

body{
     margin: 0;
        }

 .main-container-home{
            position: relative;
            background-color: #333342;
            width: 100%;
            height: 98%;
            display: flex;
            margin: 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .profile{
            margin: 20px;
            display:flex;
            opacity:0;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
            justify-content: center;
            animation: em 2s 1s ease-in-out forwards;
        }
        @keyframes em{
            from{
                opacity: 0;

            }
            to{
                opacity: 1;
            }
        }
        a{
            border: none;
        
            background-color: none;
            text-decoration: none;
        }
        .link{
            
            color: rgb(7, 7, 7);
            background-color:  rgb(244, 249, 250);
            padding-top: 8px;
            padding-left: 5px;
            padding-right: 5px;
            margin: 0px;
            border-radius: 5px;
            
        }
        p{
            color: rgb(255, 255, 255);
            margin:3px;
          

        }
        .name{
            height: 200px;
            width: 500px;
            position: absolute;
            display: flex;
            top: 110px;
            right: 210px;
            flex-direction: column;
            font-family: Haettenschweiler, sans-serif;
            animation: fast-down 3s 1 cubic-bezier(0, o.92, 0.25, 1.43) forwards;
            color: rgb(255, 255, 255);
            font-size: larger;
            letter-spacing: 3px;
            font-size: 40px;
            font-weight: 500;
            opacity: 0;
            animation: fade-in-name 1s linear 1.5s forwards;

        }
@keyframes fade-in-name{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
        
        
        .yash{
            
            margin: 0px;
            margin-right: 50px;
        }
        .karray{
            margin: 0;
            margin-right: 10px;
        }

        .name-bg{
            position: absolute;
            height: 430px;
            width: 350px;
            top: 100px;
            left: 290px;
            opacity: 0;
            background-color:  rgb(219, 177, 177);
            animation: slid-in 1.5s ease-out 0s forwards;
        }

    
@keyframes slid-in{
    0%{
        left: -400;
        top: 200px;
        transform: scale(0.5);
        opacity: 0;
    }
    50%{
        transform: scale(0.5);
        top: 200px;
        left: 200px;
    }
   80%{
    top: 80px;
    left: 300px;
    opacity: 1;
   }
    100%{
        transform: scale(0.9);
        opacity: 1;
    }
}
.welcome{
    position: absolute;
    top: 50px;
    left: 20px;
    display: inline;
    font-size: 30px;
    color: white;
    animation: on-off 5s linear 5s infinite;

}
@keyframes on-off{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.designation{
    position:absolute;
    color: white;
    font-size: small;
    font-weight: lighter;
    transform: rotate(90deg);
    bottom: 0px;
    right: -120px;
    letter-spacing: 3px;
    opacity: 0;
    animation: fade-in 1.5s linear 2.5s forwards;
}       
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}   
.box{
    position:absolute;
    bottom: 5px;
}     
.icon{
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;

        opacity: 0;
        animation: emerge 1s 3s forwards;
        animation-timing-function: ease-out;
        transition: .4s;
    }
    .icon:hover{
        font-size: 30px;
    }
    
    @keyframes emerge{
        0%{
            transform: scale(0);
            opacity: 0;
        }
        80%{
            transform: scale(1.1);
        }
        100%{
            transform: scale(1);
            opacity: 1;
        }
    }

.space{
    height: 12px;
    width: 100%;
    background-color: white;
}

.about-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.About-container{
    position: relative;
    display: flex;
    height: 625px;
    background-color: #333342;
    flex-direction: column;
}
.heading{
    z-index: 2;
    padding: 30px;
    margin-top: 20px;
    color: rgb(224, 221, 226);
    font-family: Haettenschweiler, sans-serif;
    display: inline;
    font-size: 50px;
    font-weight: bold;
    
}
.aboutt{
    font-size: 30px;
  
    font-family: Haettenschweiler, sans-serif;
    letter-spacing: 2px;
    padding: 30px;

}
.para{
    color: rgb(223, 222, 222);
}
.pic{
    height: 200px;
    width: 200px;
    display: block;
    
}
img{
    width: 220px;
    height: 220px;
   border-radius: 110px;
}
.general{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
.download{
    font-size: 20px;
    border-style: solid ;
    padding: 10px 15px;
    border-color: white;
    border-width: 1px;
    transition: background-color color;
    background-color:#333342;
}
.download:hover{
    background-color: white;
    color: #333342;
}
.home-btn{
    font-size: 25px;
    position: absolute;
    bottom: 20px;
    right: 50%;
    left:auto;
    color: rgb(185, 184, 185);
}
.home-btn:hover{
    color: white;
}

.skills-container{
    position: relative;
    display: flex;
    height: 625px;
    background-color: #484860;
    flex-direction: column;

}
.lang-bg{
    z-index: 0;
    position:absolute;
    height: 80px;
    top: 147px;
    
    left: 110px;
    width: 270px;
    background-color: rgb(117, 157, 192);
}
.dsa-bg{
    z-index: 0;
    position:absolute;
    height: 80px;
    top: 147px;
   
    right: 320px;
    width: 370px;
    background-color: rgb(192, 117, 186);

}

.tools-bg{
    z-index: 1;
    position:absolute;
    height: 80px;
    top: 287px;
    right: 320px;
    width: 370px;
    background-color: rgb(158, 207, 118);
}
.middle-bg{
    z-index: 0;
    position:absolute;
    height: 170px;
    top: 147px;
    right: 50px;
    width: 170px;
    background-color: rgb(146, 135, 137);
}
.mid-bg{
    z-index: 0;
    position:absolute;
    height: 170px;
    top: 400px;
    right: 50px;
    width: 170px;
    background-color: rgb(201, 121, 135);
}
.skills-grid{
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 40px;
}
.tools{
    margin-top: 30px;
}
.lang{
    margin-left: 60px;
    padding-left: 70px;
}
.sub-h{
    font-family: Haettenschweiler, sans-serif;
    font-size: 30px;
    color: rgb(224, 221, 226);
}


.education-container{
    position: relative;
    display: flex;
    height: 625px;
    background-color: #484860;
    flex-direction: column;

}
.courses{
    display: flex;
    flex-direction: row;
}
.course{
    margin-bottom: 0px;
}
.ul{
    margin-left: 10px;
}
.same{
    margin: 0px 34px;
}
.edu{
    margin: 0px 34px;
}
.contact-container{
    position: relative;
    display: flex;
    height: 625px;
    background-color: #484860;
    flex-direction: column;

}